.App {
  text-align: center;

}
.jumbotron{
	background-image: url('./components/faces.png');
  background-size: cover;
  color: black;

} 


body {
  background-image: url('./components/bw.jpg');
  /* background-repeat: inherit; */
  /* background-size: cover; */
  color: white;
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

